---
- hosts: all
  become: yes
  gather_facts: yes
  vars:
    source_key: files/id_rsa
    dest_key: /home/phil/.ssh/id_rsa
    iphone_public_key: 

  tasks:
    - name: make sure there is a piper group
      group:
        name: piper
        state: present
    - name: Allow piper group to have passwordless sudo
      lineinfile:
        dest: /etc/sudoers
        state: present
        regexp: '^%piper'
        line: '%piper ALL=(ALL) NOPASSWD: ALL'
        validate: 'visudo -cf %s'
    - name: Add user 'phil' to system
      user:
        name: phil
        state: present
        groups: piper
        append: yes
        createhome: yes
        password: $1$hello$WWtY9qt3gk38vByifqNI8.
        shell: /bin/bash
    - apt: "name={{ item }} state=installed"
      with_items:
        - git
        - wget
        - curl
        - vim
        - software-properties-common
    - name: Set authorized key
      authorized_key:
        user: phil
        state: present
        key: "{{ lookup('file', item) }}"
      with_fileglob: /tmp/ansible/files/*.pub
    - name: Add chromium browser apt-repository
      apt_repository:
        repo: ppa:canonical-chromium-builds/stage
        update_cache: yes
    - name: Install chromium
      apt:
        name: chromium-browser
        state: present
    - name: Ensure .ssh directory exists
      file:
        dest: "{{ dest_key | dirname }}"
        mode: 0700
        owner: phil
        state: directory
    - name: Install private git ssh key
      copy:
        remote_src: yes
        src: /tmp/ansible/files/id_rsa
        dest: /home/phil/.ssh/id_rsa
        mode: 0600
        owner: phil
    - name: Ensure .aws directory exists
        file:
          path: /home/phil/.aws
          mode: 0700
          owner: phil
          state: directory
    - name: copy aws credentials
      copy:
        remote_src: /tmp/ansible/files/aws_credentials
        dest: /home/phil/.aws/credentials
        mode: 0600
        owner: phil
    - name: Create directory for vundle
      file:
        path: /home/phil/.vim/bundle
        state: directory
    - name: git clone vundle
      git:
        repo: https://github.com/VundleVim/Vundle.vim.git
        dest: /home/phil/.vim/bundle/Vundle.vim
    - name: Download Golang
      get_url:
        url: https://dl.google.com/go/go1.12.linux-amd64.tar.gz
        dest: /home/phil/
    - name: Extract go xvf
      unarchive:
        src: /home/phil/go1.12.linux-amd64.tar.gz
        dest: /home/phil/go1.12.linux-amd64

