images/*.pem filter=git-crypt diff=git-crypt
images/ansible/files/*.pub filter=git-crypt diff=git-crypt
images/ansible/files/id_rsa filter=git-crypt diff=git-crypt
images/ansible/files/aws_credentials filter=git-crypt diff=git-crypt
